
@media all and (min-width:0px) and (max-width: 1024px) {
  #name {
    font-size: 16vw;
  }

  #subname {
    font-size: 7vw;
  }
  #header-menu li {
    padding: 2vw;

    min-width: 20vw;

  }
  #header-menu {
    font-size: 4vw;
  }
  .texticon {
    float: right;
    font-size:7vw;
    position: relative;
    top: -2vw;
    margin-bottom: -2000px;
    overflow: hidden;
  }
  body{
    font-size: 2.3em;
  }
}
